.cardRatingContainer {
    // background: linear-gradient(to bottom, black 30%, white 30%);
    padding: 0 !important;

    .cardItems {
        background: rgba(255, 255, 255, 0.9);
        border: none;
        width: 184px;
        height: auto;

        i {
            color: #FBBD34;
        }
    }
}