.trendingSalesContainer {
    background: linear-gradient(to bottom, black 20%, white 20%);

    .trendingFirstColumnVideo {
        object-fit: cover;
    }
    
    .leftVideoButtons {
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .rightVideoButtons {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .leftVideoButtons, 
    .rightVideoButtons {
        .imgVideoBtns {
            width: 100px;
            max-width: 100%;
            height: auto;
        }
    }
    
    .trendingSecondColumns {
        display: flex;
        align-items: center;

        .trendingSecondColumnVideos {
            object-fit: cover;
        }
    }
}

.trendingSalesSecondContainer {
    background: white;
    margin: 10px 0px;
    
    .trendingBtnVideo {
        object-fit: cover;
    }

    .centerVideoBtns {
        position: absolute;
        bottom: 15px;

        .centerbtns {
            border: 0;
            border-radius: 0;
            margin-right: 10px;

            .imgVideoBtns {
                width: 100px;
                max-width: 100%;
                height: auto;
            }
        }
    }
    
    .trendingVideoSecondContainer {
        object-fit: cover;
        width: 100%;
        height: 380px;
    }
}



// .trendingRowVideo {
//     max-width: 100%;
//     height: auto;
// }